# Python cache files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac system file
.DS_Store

# Windows system file
Thumbs.db
