# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env

# IDE / Editor folders
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
